.App {
  text-align: center;
  background: scroll;
  background-color: #fafafa;
  height: 100vh;
  width: 100%;
  padding: 2px;
}

.Header {
  background-color: #f3f3f3;
  text-align: center;
}

.title {
  padding: 20px;
  text-align: center;
  text-transform: capitalize;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  justify-content: center;
}

.TextEntryContainer {
  display: flex;
  gap: 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.TextEntry {
  display: flex;
  align-items: flex-start;
  align-items: center;
  bottom: 35px;
  width: 80%;
  position: fixed;
  justify-content: center;
  border-radius: 4px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.query-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  max-width: 50%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  justify-content: center;
  resize: vertical;
  min-height: 40px;
  overflow-y: auto;
}

.submit-button {
  min-height: 40px;
  background-color: #ccc;
  border: 1px solid #ccc;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  align-self: flex-end;
}

.file-upload {
  min-height: 40px;
  /* background-color: #ccc; */
  /* border: 1px solid #ccc; */
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  align-self: flex-end;
}

.submit-button:hover {
  background-color: #758a86;
}

.icon-title {
  display: inline-block;
  align-items: center;
}
.icon {
  max-width: 37%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  width: 50%;
}
.icon_title {
  display: inline-block;
  font-size: 3.5em;
  width: 50%;
}

.subtitle {
  font-size: 1.75em;
}
