.App {
  text-align: center;
  background: scroll;
  background-color: #fafafa;
  height: 100vh;
  width: 100%;
  padding: 2px;
}

.Header {
  background-color: #f3f3f3;
  text-align: center;
}

.title {
  padding: 20px;
  text-align: center;
  text-transform: capitalize;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  justify-content: center;
}

.TextEntry {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 35px;
  width: 80%;
  justify-content: middle;
  border-radius: 4px;
  padding: 10px;
}

.query-input {
  width: 100%;
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  justify-content: center;
  resize: vertical;
  min-height: 40px;
  overflow-y: auto;
}
.query-input-2 {
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  justify-content: center;
  resize: vertical;
  min-height: 40px;
  overflow-y: auto;
}

.icon-title {
  display: inline-block;
  align-items: center;
}
.icon {
  max-width: 37%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  width: 50%;
}
.icon_title {
  display: inline-block;
  font-size: 3.5em;
  width: 50%;
}

.subtitle {
  font-size: 1.75em;
}
